<ion-header [translucent]="false" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      News App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">News App</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar mode="ios" class="ion-no-border"></ion-searchbar>
    </ion-toolbar>
  </ion-header>


  <app-articles
  [articles]="articles"
  ></app-articles>

</ion-content>
